{% extends 'registro/baseRegistro.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}


<h1 style="color: #76D7C4">Tecnico Ascensores Login</h1>
{% if user.is_authenticated %}
<h1>Tu ya estas Logeado en el sitio</h1>
<a href="{% url 'logout' %}">Logout</a>

{% else %}
<form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <br>
    <button class="btn btn-primary" type="submit">Ingresar al sitio</button>
    <a class="btn btn-primary" href="{% url 'registrar' %}">Nuevo Usuario</a>
</form>
<br>
<p><strong>-- Ingresar con Redes Sociales --</strong></p>
<a href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a>
{% endif %}

{% endblock %}