<!DOCTYPE html>
<html lang="en" dir="ltr">
  {% extends 'registro/baseRegistro.html' %}
  {% load static %}
  {% load crispy_forms_tags %}
  {% block content %}
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'wena.css' %}">
    <title></title>
  </head>
  <body>
    <h1 style="color: #76D7C4">Nuevo Tecnico de Ascensores</h1>

    <form method="post">

    </form>

    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <br>
        <input class="btn btn-primary" type="submit" value="Registrar"/>
    </form>
    <br>
    {% endblock %}
  </body>
</html>
