{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Clientes</title>
</head>
<body>

    <div class="col-xs-12 col-lg-8 mx-auto">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>Run</td>
                    <td>Nombre</td>
                    <td>Direccion </td>
                    <td>Ciudad</td>
                    <td>Comuna</td>
                    <td>Telefono</td>
                    <td>Correo</td>
                </tr>
            </thead>
            <tbody>
                {% if object_list %}
                {% for cliente in object_list %}
                <tr>
                  <td>{{cliente.run}}</td>
                  <td><{{cliente.nombre}}></td>
                  <td>{{ cliente.direccion}}</td>
                  <td>{{ cliente.cuidad}}</td>
                  <td>{{ cliente.Comuna}}</td>
                  <td>{{ cliente.telefono}}</td>
                  <td>{{ cliente.correo}}</td>
                </tr>
                {% endfor %}

                {% else %}
                <h1>No hay registros de Clientes</h1>

                {% endif %}
            </tbody>
        </table>
    </div>
    <div class="col-xs-12 col-lg-8 mx-auto">
        <a class="btn btn-primary" href="{% url 'home' %}">Volver al Menu Principal</a>
        {% if page_obj.has_previous %}
            <a class="btn btn-secondary"href="?page={{page_obj.previous_page_number}}">Anterior</a>
        {% endif %}

        {% if page_obj.has_next %}
            <a class="btn btn-secondary" href="?page={{page_obj.next_page_number}}">Siguiente</a>
        {% endif %}
    </div>

</body>
</html>
