<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'listar.css' %} ">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}" type="text/css">
    <title>Clientes</title>
</head>
<body>
{% if user.is_authenticated and user.is_admin == True%}
  <div class="container">

    <div class="btn">
      <h2>Lista de clientes</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>Run</td>
                    <td>Nombre</td>
                    <td>Direccion </td>
                    <td>Ciudad</td>
                    <td>Comuna</td>
                    <td>Telefono</td>
                    <td>Correo</td>
                    <td>Usuario</td>
                </tr>
            </thead>
            <tbody>
                {% if object_list %}
                {% for cliente in object_list %}
                <tr>
                  <td>{{cliente.run}}</td>
                  <td>{{cliente.nombre}}</td>
                  <td>{{ cliente.direccion}}</td>
                  <td>{{ cliente.cuidad}}</td>
                  <td>{{ cliente.comuna}}</td>
                  <td>{{ cliente.telefono}}</td>
                  <td>{{ cliente.correo}}</td>
                  <td>{{ cliente.usuario}}</td>
                </tr>
                {% endfor %}

                {% else %}
                <h1>No hay registros de Clientes</h1>

                {% endif %}
            </tbody>
        </table>
    </div>
    <div class="">
        <a class="btn btn-primary" href="{% url 'home' %}">Volver al Menu Principal</a>
        {% if page_obj.has_previous %}
            <a class="btn btn-secondary"href="?page={{page_obj.previous_page_number}}">Anterior</a>
        {% endif %}

        {% if page_obj.has_next %}
            <a class="btn btn-secondary" href="?page={{page_obj.next_page_number}}">Siguiente</a>
        {% endif %}
    </div>

  </div>
{% else %}
  <h1>Lo lamentamos, usted no dispone de los privilegio para ingresar a este sitio, por favor vuelva a la pagina anterior</h1>
  <a href="registro/login">Volver</a>
{% endif %}
</body>
</html>
